.content-block {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 5vw;
    padding: 5vw;
    background-color: #ab987a;
    color: #0f1626;
    border-radius: 10vw;

}

.content-block-title {
    font-weight: bold;
    text-transform: uppercase;
}

.content-block-items {
    display: flex;
    flex-direction: column;
}

.content-block-item {
    display: flex;
    flex-direction: row;
    align-items: space-between;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.cost {
    white-space: nowrap;
}

.product {
    text-transform: capitalize;
}